@{
    Layout = "~/Views/Shared/_LayoutViewer.cshtml";
    Data_Detailbook file = Model;
    ViewData["Title"] = "Đọc sách";
    string url_file = Url.Action("GetStreamFile", "BookAttach", new { url = ViewBag.UrlFileazw3 });
    int? total_page = 0;
}
<div>
    <div class="lv_popup_control">
        @await Component.InvokeAsync("ControlViewer", new {id=ViewBag.FileId,FileRowId=ViewBag.FileRowId})
    </div>
    <div class="lv_content_viewer">
        <div style="width:100%;height:100%">
            <div id="htmlresults" class="viewer_mobi"></div>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/lib/jsebook/lib/bufferpack/bufferpack.js" asp-append-version="true"></script>
<script src="~/lib/jsebook/src/locmap.js" asp-append-version="true"></script>
<script src="~/lib/jsebook/src/mobiread.js" asp-append-version="true"></script>
<script src="~/lib/jsebook/spec/mobiread_util.js" asp-append-version="true"></script>
<script>
    var link='@url_file';
    var _total_page='@total_page';
    var pagewidth = 0;
    var pageheight = 0;
</script>
<script src="~/js/file_viewer_render.js" asp-append-version="true"></script>
<script src="~/lib/jsebook/render_viewer.js" asp-append-version="true"></script>
}